@{
    ViewBag.Title = "Home page";
    <title>Home</title>
    <link href="~/Public/css/Home/Home.css" rel="stylesheet" />
    @*<link href="~/Public/css/Home/nicepage.css" rel="stylesheet" />
    <script class="u-script" type="text/javascript" src="~/Public/js/Home/nicepage.js"></script>*@

    <meta name="generator" content="Nicepage 4.17.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i|Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

}




@*<section class="u-clearfix u-section-1" id="carousel_06ed">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1">
                        <div class="u-container-layout u-valign-bottom u-container-layout-1">
                            <h5 class="u-align-left u-custom-font u-font-pt-sans u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">Little More About Us</h5>
                            <h1 class="u-align-left u-custom-font u-font-roboto-condensed u-text u-text-palette-3-base u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="1000">
                                <span style="font-size: 3.75rem;" class="u-text-palette-1-dark-2">
                                    Educatio​n is Fundamental to Development and Growth<span style="font-size: 3rem;"></span>
                                </span>
                                <br>
                            </h1>
                            <p class="u-align-left u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="2000">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="https://nicepage.com/c/gallery-html-templates" class="u-border-none u-border-radius-0 u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-palette-2-base u-palette-1-dark-2 u-btn-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="" data-animation-delay="3000">read more</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-right-cell u-size-33 u-image-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="X" data-image-width="3000" data-image-height="2000">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-light-3 u-section-2" id="sec-fdf3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-4-base u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <h3 class="u-custom-font u-font-open-sans u-text u-text-1">Organization</h3>
                            <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                            <h2 class="u-align-center u-text u-text-default u-text-2">1000</h2>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-2-base u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <h3 class="u-custom-font u-font-open-sans u-text u-text-3"> Teacher</h3>
                            <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-2"></div>
                            <h2 class="u-align-center u-text u-text-default u-text-4">10000</h2>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <h3 class="u-custom-font u-font-open-sans u-text u-text-5">Student</h3>
                            <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-3"></div>
                            <h2 class="u-align-center u-text u-text-default u-text-6">1000000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="carousel_1b6f">
        <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
        <img class="u-image u-image-1" src="~/Public/assets/images/pexels-julia-m-cameron-4145153.jpg" data-image-width="7281" data-image-height="4860" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
        <img class="u-image u-image-2" src="~/Public/assets/images/pexels-fauxels-3184644.jpg" data-image-width="4000" data-image-height="6000" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
        <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-group u-opacity u-opacity-75 u-palette-5-light-3 u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-1">
                <h3 class="u-align-center-sm u-align-center-xs u-text u-text-palette-1-dark-1 u-text-1">Free&nbsp;</h3>
                <p class="u-align-center-sm u-align-center-xs u-text u-text-2"> Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Lobortis elementum nibh tellus molestie nunc non. Aliquet bibendum</p>
                <a href="https://nicepage.best" class="u-border-none u-border-radius-0 u-btn u-button-style u-custom-font u-font-oswald u-hover-palette-2-base u-palette-1-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Contact us</a>
            </div>
        </div>
        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-container-style u-group u-opacity u-opacity-75 u-palette-5-light-3 u-shape-rectangle u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="0">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h3 class="u-text u-text-palette-1-dark-1 u-text-3">Convenience</h3>
                <p class="u-text u-text-4"> Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Lobortis elementum nibh tellus molestie nunc non. Aliquet bibendum</p>
                <a href="https://nicepage.best" class="u-border-none u-border-radius-0 u-btn u-button-style u-custom-font u-font-oswald u-hover-palette-2-light-1 u-palette-1-dark-1 u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">learn more</a>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-4" id="carousel_0f8f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1">
                Easy Organization Management<br>
            </h2>
            <p class="u-text u-text-2"> Our vision is to be the source for childhood learning on the internet vailable from anywhere for everyone and without charge.</p>
            <div class="u-expanded-width-xs u-form u-form-1">
                <form action="//publish.nicepage.com/Form/Process" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-0 u-inner-form" source="email" name="form" style="padding: 0px;">
                    <div class="u-form-email u-form-group u-label-none">
                        <label for="email-6564" class="u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-6564" name="email" class="u-grey-5 u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-align-left u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Create</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="b004d8e7fe18be45da2bdc14f8a8b434">
                </form>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-5-light-3 u-section-5" id="carousel_5aa2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-dark-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> Superior Features</h2>
            <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Quam quisque id diam vel quam elementum. Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Pellentesque habitant morbi tristique senectus et netus. </p>
            <div class="u-expanded-width u-list u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" src="" data-image-width="996" data-image-height="664" data-animation-name="customAnimationIn" data-animation-duration="1500">
                        <div class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-1-dark-1 u-group-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h4 class="u-text u-text-3">
                                        Tightly Organized<br>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" src="" data-image-width="727" data-image-height="661" data-animation-name="customAnimationIn" data-animation-duration="1500">
                        <div class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-1-dark-1 u-group-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <h4 class="u-text u-text-4">
                                        Teacher Management<br>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" src="" data-image-width="996" data-image-height="664" data-animation-name="customAnimationIn" data-animation-duration="1500">
                        <div class="u-container-layout u-similar-container u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-5">
                            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-1-dark-1 u-group-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                                <div class="u-container-layout u-valign-middle u-container-layout-6">
                                    <h4 class="u-text u-text-5">Student Management</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-6" id="carousel_1acf">
        <img class="u-expanded-width u-image u-image-1" src="~/Public/assets/images/pexels-pixabay-159740.jpg" data-image-width="1920" data-image-height="1280" data-animation-name="" data-animation-duration="0" data-animation-direction="">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-size-27 u-white u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h2 class="u-text u-text-1"> Know more About us?</h2>
                            <p class="u-text u-text-default u-text-2">The trekking in the enchanting mountains or rafting in the wild rivers, exploring the dense forest, canyoning in the refreshing waterfall, gliding across the highest peaks and the beautiful valley etc. are some of the adventures you can imagine. </p>
                            <a href="https://nicepage.com/k/adult-website-templates" class="u-border-none u-border-radius-0 u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-palette-2-base u-palette-1-dark-1 u-btn-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X" data-animation-delay="1000">read more</a>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-33 u-image-2" data-image-width="996" data-image-height="664" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-border-20 u-border-white u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-7" id="carousel_e35d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Our ​Team</h2>
            <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">Glavrida for habitant morbi tristique senectus et netus et malesuada fames</p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="600" data-image-height="701" src="~/Public/assets/images/sad.jpg" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h3 class="u-custom-font u-font-oswald u-text u-text-body-color u-text-3">B.chính</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="600" data-image-height="701" src="~/Public/assets/images/dff.jpg" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h3 class="u-custom-font u-font-oswald u-text u-text-body-color u-text-4">N.Đức</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="600" data-image-height="701" src="~/Public/assets/images/dfdf.jpg" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h3 class="u-custom-font u-font-oswald u-text u-text-body-color u-text-5">T.Đức</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-4" data-image-width="600" data-image-height="701" src="~/Public/assets/images/dssdd.jpg" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h3 class="u-custom-font u-font-oswald u-text u-text-body-color u-text-6">p.Sỹ</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-8" id="carousel_7906">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Contact Us</h2>
            <p class="u-text u-text-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <div class="u-form u-form-1">
                <form action="//publish.nicepage.com/Form/Process" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                    <div class="u-form-group u-form-name u-label-none">
                        <label for="name-3b9a" class="u-label">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-2 u-border-black u-input u-input-rectangle u-input-1" required="">
                    </div>
                    <div class="u-form-email u-form-group u-label-none">
                        <label for="email-3b9a" class="u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-2 u-border-black u-input u-input-rectangle u-input-2" required="">
                    </div>
                    <div class="u-form-group u-form-message u-label-none">
                        <label for="message-3b9a" class="u-label">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-2 u-border-black u-input u-input-rectangle u-input-3" required=""></textarea>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-hover-palette-1-base u-palette-1-dark-1 u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="b004d8e7fe18be45da2bdc14f8a8b434">
                </form>
            </div>
        </div>
    </section>*@



<div>
    <img class="container-img" src="~/Public/assets/images/home/background.png">
    <div class="container-content">
        <div class="container-content-text">
            <h2>Create your own</br> Education Organization Management</h2>
            <p>
                We provide a system and many tools which will help you manage your education </br>
                organization easy and professional as a owner, if you already are a members of a</br>
                organization on Prems, use our facility as a teacher or student
            </p>
            <div class="container-content-text-btn">
                <div class="btn-owner">Organization Owner</div>
                <div class="btn-student">Teacher or Student</div>
            </div>
        </div>
        <div class="container-content-logo">
            <div class="container-content-logo-circle"><img src="~/Public/assets/images/home/logo-circle-1.png" /></div>
        </div>
    </div>
</div>
    
    <div class="navbar-black"></div>
    <div class="">
        <div class="container-second">
            <div class="container-second-top"><img src="~/Public/assets/images/home/background-2.png" /></div>
            <div class="container-second-background">
                <div class="container-second-content">
                    <div class="container-second-content-logo"><img src="~/Public/assets/images/home/logo-prems.png" /></div>
                    <h2>A great educational institution needs a great</br> management system</h2>
                    <p>
                        More than
                        <span>50,000</span>
                        organizations have been using Prems,</br> they have had great experience, why not  join us now ?
                    </p>
                    <div class="container-second-content-btn">Create an organization</div>
                </div>
                <div class="container-second-content-img">
                    <img src="~/Public/assets/images/home/img-1.png" />
                </div>
            </div>
           
        </div>
         <div class="container-second-end">
               
                <div class="container-second-end-img"><img src="~/Public/assets/images/home/Sponsor.png" alt=""></div>
         </div>
        <div class="container-principle">
            <div class="container-principle-title">For you, Principle</div>
            <div class="container-principle-list">
                <div class="principle">
                    <img src="~/Public/assets/images/home/principle1.png" />
                    <div class="priciple-text">Manage system of<br> teachers and students</div>
                </div>
                <div class="principle">
                    <img src="~/Public/assets/images/home/principle2.png" />
                    <div class="priciple-text">Manage system of<br> teachers and students</div>
                </div>
                <div class="principle">
                    <img src="~/Public/assets/images/home/principle3.png" />
                    <div class="priciple-text">Manage system of<br> teachers and students</div>
                </div>
                <div class="principle">
                    <img src="~/Public/assets/images/home/principle4.png" />
                    <div class="priciple-text">Manage system of<br> teachers and students</div>
                </div>
            </div>
        </div>
        <div class="container-teacher">
            <div class="container-teacher-question">What teachers and students will get when using Prems?</div>
            <div class="container-teacher-content">
                <div class="container-teacher-content-text">
                    <div class="content-1">
                        <img src="~/Public/assets/images/home/teacher1.png" />
                        <div class="content-1-text">Get rid of the thick files and paper clips, anything is available at the Prems</div>
                    </div>
                    <div class="content-2">

                        <div class="content-2-text">Easy and convenient, your job is to get good grades and great study results</div>
                        <img src="~/Public/assets/images/home/teacher2.png" />
                    </div>
                </div>
                <div class="container-teacher-content-img">
                    <img src="~/Public/assets/images/home/teacher3.png"
                </div>
            </div>
        </div>
        <div class="container-about">
            <div class="container-about-img"><img src="~/Public/assets/images/home/about3.png"></div>
            <div class="container-about-img"><img src="~/Public/assets/images/home/about4.png"></div>
        </div>

    </div>
