
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <h1 class="title">Create</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Dashboard</a></li>
        <li class="divider"></li>
        <li><a href="#">Organizations</a></li>
        <li class="divider"></li>
        <li><a href="#" class="active">Create</a></li>
    </ul>
</div>
