
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Your Kids is Our Future, ​Never Stop Learning, ​Best Classes and Camps, ​Browse and book hundreds of free online classes, ​Know more About us?, ​Select Your Course, Our ​Team, Contact Us">
    <meta name="description" content="">
    <title>Home</title>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    @*<link href="~/Public/css/Home/nicepage.css" rel="stylesheet" />

        <meta name="generator" content="Nicepage 4.17.10, nicepage.com">*@
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i|Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#3fb7fe">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <link href="~/Public/css/Home/Home.css" rel="stylesheet" />

</head>
<body class="" data-lang="en">
    @Html.Partial("_LoadingPage")

    <div id="body" >
        <header>
            <div class="navbar">
                <div class="navbar-logo">Prems</div>
                <div class="navbar-menu">
                    <a href="@Url.Action("Index","Home")" class="navbar-menu-home">Home</a>
                    <a href="@Url.Action("Organizations","Dashboard")" class="navbar-menu-organization">Organization</a>
                    <a href="#" class="navbar-menu-teacher">Teacher & Student</a>
                    <a href="#" class="navbar-menu-support">Support</a>
                </div>
                <div class="navbar-user">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </header>
        <div id="bodyContent" class="mt-4" style="min-height: 80vh;">
            @RenderBody()
        </div>
        <footer class="end mt-5">
            <div class="end-bar">
                <div class="end-bar-menu">
                    <div class="menu-home">
                        <i class="fa-solid fa-house icon-home"></i>
                        Home
                    </div>
                    <div class="menu-sp">/</div>
                    <div class="menu-support">Support</div>
                </div>
                <div class="end-bar-meet">
                    <div class="contact">
                        <div class="contact-text">Meet our at</div>
                        <i class="fa-brands fa-facebook icon"></i>
                        <i class="fa-brands fa-twitter icon"></i>
                        <i class="fa-brands fa-youtube icon"></i>
                        <i class="fa-brands fa-discord icon"></i>
                    </div>
                    
                </div>
                <div class="d-flex">
                    <div class="end-bar-infor-company">
                        <h2>Company</h2>
                        <div class="company-mail">
                            <i class="fa-solid fa-envelope icon"></i>prems@prm.com
                        </div>
                        <div class="company-location">
                            <i class="fa-solid fa-location-pin icon"></i>University of Information Technology,</br>
                            Thu Duc District</br>
                            Ho Chi Minh City,</br>
                            Vietnam
                        </div>
                    </div>
                    <div class="end-bar-infor-payment">
                        <div class="vnpay d-flex">
                            <h2>Payment Methods</h2>
                            <img src="~/Public/assets/images/home/vnpay.png">
                        </div>
                        <div class="support-question">
                            <p>
                                For any questions about the payment process, terms, privacy</br> policy, sales and refunds, legal and product use, please contact</br> us via communication channels.
                                </br>Our support center is open to help at all times, but in case of</br> force majeure or system failure, the response may not be timely,</br> please be patient and understanding, we Will be in touch as soon</br> as possible
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script>
        $(window).on('load', function () {
            $("#body").fadeIn(1000);
            $("#loading").fadeOut(1000);
        });
    </script>
</body>
</html>